<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="portfolio">
                <span class="bi bi-briefcase-fill-nav-menu" aria-hidden="true"></span> Portfolio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-card-list-nav-menu" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="screener">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Screener
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backtester">
                <span class="bi bi-clipboard-data-fill-nav-menu" aria-hidden="true"></span> Backtester
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="datamanager">
                <span class="bi bi-database-fill-down-nav-menu" aria-hidden="true"></span> Data Manager
            </NavLink>
        </div>
    </nav>
</div>
